@use '../../style/utils/variables.scss' as *;

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.pickAddOnsContainer {
  width: 100%;
  padding: 20px 24px;

  background-color: $white-50;
  border-radius: $border-sm;
  border: 1px solid $blue-100;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  &[data-state="checked"] {
    border: 1px solid $purple-900;
    background-color: $gray-50;
  }
}

.pickAddOnsItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
}

.pickAddOnsIndicator {
  display: block;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: relative;

  border: 1px solid $blue-100;
  border-radius: 4px;
  
  &[data-state="checked"]::after {
    content: '\2713';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

    background-color: $purple-900;
    color: $white-50;
    border-radius: 4px;
  }
}

.pickAddOnsLabelContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  label {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: $blue-900;
    margin-bottom: 7px;
  }

  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $gray-200;
  }
}

.pickAddOnsPrice {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $purple-900;
}

.submitContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 92px;
}