@use '../../style/utils/variables.scss' as *;

.button {
  padding: 16px 24px;
  border: 0;
  border-radius: $border-sm;
  color: $white-50;
  font-weight: 500;
  font-size: 1rem;
  line-height: 18px;

  cursor: pointer;
}

.anchor {
  cursor: pointer;
  border: 0;
  color: $gray-200;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.blue {
  background-color: $blue-900;
}

.purple {
  background-color: $purple-900;
}

.transparent {
  background-color: transparent;
}