$white-50: '#fff';

$blue-50: '#EFF5FF';
$blue-100: '#D6D9E6';
$blue-200: '#BEE2FD';
$blue-300: '#ABBCFF';
$blue-900: '#022959';

$gray-50: '#F8F9FF';
$gray-100: '#D6D9E6';
$gray-200: '#9699AA';

$orange-900: '#FFAF7E';

$pink-900: '#F9818E';

$purple-900: '#483EFF';

$red-900: '#EE374A';

$box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);

$border-md: 15px;