@use '../../style/utils/variables.scss' as *;

.formPersonalInfoContainer {
  width: 100%;
}

.formPersonalInfoLabel {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;

  & + .formPersonalInfoLabel {
    margin-top: 24px;
  }

  label {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $blue-900;
    width: 100%;

    margin-bottom: 8px;
  }
  

  input {
    padding: 12px 16px;
    border: 1px solid $blue-100;
    width: 100%;
    outline: none;

    border-radius: $border-sm;

    color: $gray-200;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;

    &::placeholder {
      color: $gray-200;
    }
  }
}

.errorContainer {
  input {
    border: 1px solid $red-900;
  }
}

.submitContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-top: 92px;
}

.errorContent {
  margin-top: 10px;
  color: $red-900;
}